.shopping_cart_container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products {
  font-size: 50px;
  justify-content: center;
}

#products .row {
  display: flex;

  min-width: 700px;
  max-height: 150px;
  margin: 10px;
  background-color: bisque;
  border-radius: 25px;
  padding: 12px 0px;
}

#products img {
  width: 100%;
  max-width: 150px;
  height: auto;
  background-color: aliceblue;
  border-radius: 25px;
  object-fit: cover;
}

.quantity_button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy_cart_button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: green;
  font-weight: bold;
}

.empty_cart_button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: red;
  font-weight: bold;
}

.total_cost_text {
  font-size: 30px;
  font-weight: bold;
}